/** 
  * Formula component styles
  * @module src/Components/Formula.css
  * text is right-aligned
  * background color is black
  * border color is dark gray
  * text color is monitor green
  * font size is 20px
  * font is bold
  * font is courier
  */
  .formula {
    background-color: #000000;
    border: 5px solid #121412;
    color: #039703;
    padding: 8px 12px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-family: courier;
    font-size: 18px;
    font-weight: bold;
    width:400px;
    height: 20px;
    border-radius: 10px;
    margin: 5px;
  }

